@import "reset";

$white: rgba(255, 255, 255, 1);

#app {
  font-family: 'Raleway', sans-serif;
  #primary-section {
    display: grid;
    grid: 64px minmax(calc(100vh - 64px), auto) / auto;
    header {
      height: 64px;
      line-height: 64px;
      text-align: center;
      -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
      box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
      @include tablet-landscape-up {
        padding: 0 24px;
        text-align: left;
      }
      @include desktop-up {
        padding: 0 256px;
        text-align: left;
      }
      span {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 1.25rem;
        &:first-child {
          color: #3A3A3A;
          span:first-child {
            color: dodgerblue;
          }
        }
      }
      ul {
        display: none;
        @include tablet-landscape-up {
          display: block;
          float: right;
          list-style: none;
          text-align: right;
          li {
            display: inline-block;
            padding: 0 24px;
            cursor: pointer;
            text-transform: uppercase;
            font-size: .9em;
            &:hover {
              background: #EEE;
            }
          }
        }
      }

    }
    .portback {
      position: relative;
      background: url("https://static.pexels.com/photos/247791/pexels-photo-247791.png") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: dodgerblue;
        opacity: .75;
        z-index: 1;
      }
      .center {
        position: absolute;
        width: 90%;
        text-align: center;
        color: $white;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        h3 {
          font-weight: 600;
          font-size: 1em;
          @include tablet-portrait-up {
            font-size: 1.5em;
          }
        }
        h1 {
          font-weight: 700;
          font-size: 1.5em;
          margin: 4px 0 6px 0;
          @include tablet-portrait-up {
            font-size: 3.5em;
            margin: 6px 0 16px 0;
          }
        }
        h4 {
          font-weight: 400;
          font-size: .95em;
          @include tablet-portrait-up {
            font-size: 1.2em;
          }
        }
        img {
          display: none;
          margin-top: 64px;
          cursor: pointer;
          @include tablet-portrait-up {
            display: block;
            width: 48px;
            height: 48px;
            margin: 80 0 -80px 0;
          }
          @include desktop-up {
            margin: 20 0 -20px 0;
          }
        }
      }
    }
  }
  section {
    h2 {
      text-align: center;
      font-size: 1.75em;
    }
    &.fs {
      min-height: 100vh;
    }
    &#about-section {
      padding: 64px 24px;
      h2 {
        text-align: center;
        margin-bottom: 20px;
      }
      p {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
      }
    }
    &#things-section {
      padding: 64px 24px;
      background: #1485e0;
      h2{
        color: rgba(255, 255, 255, 1);
      }
      h5 {
        color: rgba(255, 255, 255, 0.64);
        text-align: center;
        font-weight: 300;
        margin: 10px auto 40px auto;
        line-height: 1.1;
      }
      p {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
      }
      @include desktop-up {
        .container {
          max-width: 1170px;
          margin: auto;
        }
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        @include tablet-landscape-up {
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: 1fr;
        }
        .item {
          text-align: center;
          padding-bottom: 20px;
          img {
            margin: 12px 0 18px 0;
            height: 128px;
          }
          p {
            color: rgba(255, 255, 255, 0.85);
            max-width: 75%;
            margin: auto;
            margin-bottom: 20px;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.5;
            b {
              font-weight: 700;
            }
          }
        }
      }
    }
    &#skills-section {
      padding: 64px 24px;
      h2 {
        color: rgba(0, 0, 0, 0.95);
        margin: 0 auto 10px auto;
      }
      h5 {
        color: rgba(0, 0, 0, 0.64);
        text-align: center;
        font-weight: 300;
        margin: 10px auto 20px auto;
        line-height: 1.1;
      }
      @include desktop-up {
        .container {
          max-width: 1170px;
          margin: auto;
        }
      }
      .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        @include tablet-portrait-up {
          grid-template-columns: repeat(2, 1fr);
          grid-auto-rows: 1fr;
        }
        @include tablet-landscape-up {
          grid-template-columns: repeat(3, 1fr);
        }
        .item {
          text-align: center;
          img {
            margin: 12px 0 18px 0;
            height: 128px;
          }
          p {
            color: rgba(0, 0, 0, 0.65);
            max-width: 75%;
            margin: auto;
            margin-bottom: 20px;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.5;
            b {
              font-weight: 700;
            }
          }
        }
      }
    }
    &#projects-section {
      border-top: .5px solid #1485e0;
      padding: 64px 24px;
      h2 {
        color: rgba(0, 0, 0, 0.95);
        margin: 0 auto 10px auto;
      }
      h5 {
        color: rgba(0, 0, 0, 0.64);
        text-align: center;
        font-weight: 300;
        margin: 10px auto 20px auto;
        line-height: 1.1;
      }
      .btn-container {
        text-align: center;
        max-width: 80%;
        margin: auto;
        .btn {
          padding: 8px 12px;
          margin: 4px;
          background: #1485e0;
          color: white;
          font-weight: 700;
          text-transform: uppercase;
          display: inline-block;
          font-size: .85em;
          border-radius: 3px;
          cursor: pointer;
          &:hover {
            background: #5ca4e0;
          }
        }
      }
      small {
        display: block;
        margin: 40px 0;
        text-align: center;
      }
    }
  }
}
